/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Gurajada-Regular';
    src: url(src\assets\fonts\Gurajada-Regular.ttf);
}

*{
    margin: 0px;
    font-family: 'Gurajada-Regular';
}